<html>
	<head></head>
	<body>
		<p>
			Please input your secret message in the first search bar, and the number of letters in the second.
		</p>
		<form>
			<input type='text' name='message' />
			<input type='text' name='number' />
			<input type='submit' value='Encrypt!' />
		</form>
		<p>
			Hello world!
		</p>
	</body>
</html>